label {
  padding-bottom: .5rem;
  padding-top: 1rem;
  display: inline-block;
}

input, button {
  width: 100%;
  padding: .7rem;
}

button {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ef6360;
  color: #ffffff;
  transition: 0.3s;
  border: none;
  border-radius: 3px;

  &:disabled, [disabled] {
    background-color: #7a8a9b;
  }
}

.error-msg {
  color: red;
  font-size: .8em;
  margin-top: .5rem;
}


