<div class="search-section p-fluid">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search for jobs"/>
  </span>
  <div class="filter-section">
    <p>Filter by</p>
    <div class="filter-option">
      <select>
        <option value="" disabled selected>All Departments</option>
      </select>
      <select>
        <option value="" disabled selected>All Countries</option>
      </select>
      <select>
        <option value="" disabled selected>Full Time</option>
      </select>
    </div>
  </div>
</div>
