.title-section {
  text-align: center;

  .title-section__title {
    padding-top: 1.5rem;
    font-size: 1.8em;
    font-weight: 500;
  }

  .title-section__count {
    margin-top: .5rem;
    color: #7a8a9b;
    font-weight: 300;
    font-size: .875em;
  }
}
