/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: .9px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2b2e31;
}

.container {
  max-width: 800px;
  margin: 0 auto;

  @media only screen and (max-width: 820px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
